@font-face {
	font-family: compFont;
	src: url(retro_computer_personal_use.ttf);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#main {
	display: flex;
	flex-flow: column;
}

.block {
	padding: 20px;
	position: absolute;
}

.obstacle {
	width: 100%;
	height: 100%;
	background-color: none;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#escapeDiv {
	text-align: center;
	position: absolute;
}

#freeDiv {
	text-align: center;
	position: absolute;
}

.text {
	font-family: compFont;
	color: #00d635;
}